.header{
      
    background-color: rgb(1,6,5);
    width: 100%;
    z-index: 1000;
    
    position: fixed;
    padding: 23px 0px;

}
/* .sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(1, 6, 5); /* your sticky background */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}  */

.headerp{
display: flex;
align-items: center;
justify-content: space-between;
}


.headerleftside{
        
    display: flex;
    align-items: center;
    gap: 10px;

}
.logotext{
       font-family: "Russo One", sans-serif;
  font-weight: bold;
  font-style: normal;
    font-size: 15px;
    
    color:white;
}

.headlist{
    display: flex;
    gap: 25px;
}
.headlist li a{
        text-decoration: none;
    font-size: 13px;
    color: white;
    /* font-weight: 800; */
      transition: color 0.3s ease, transform 0.3s ease;

}
.headlist li a:hover{
    color:#07A6D8;
     transform: translateX(5px);
}
.headerlast{
    display: flex;
    gap: 10px;
}
.searchbox{
        width: 36px;
    height: 33px;
   background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 7px;
    display: flex;
    align-items: center;
}
.searchbox i{
    color: rgb(251,254,253);
    font-size: 23px;
}
.searchbox i:hover{
    color: black;
}
.round-button{
        
             padding: 6px 41px;
                 border-radius: 8px;
    border: 2px solid transparent;
    background: linear-gradient(black, black) padding-box, linear-gradient(90deg, #03E57D 0%, #07A6D8 96%) border-box;
    /* background-origin: border-box;
    background-clip: padding-box, border-box; */
    color:white;
    font-size: 12px;
    /* background: rgba(255, 255, 255, 0.08); */
box-shadow: 0px 20px 100px rgba(0, 204, 131, 0.3);
   
    font-weight: bold;
 
  transition: all 0.3s ease;

}

.round-button:hover {
  background-color: white;
  color:#07A6D8;
}